<p>
  <%= flight.departure_airport.name %>
  <%= " --> " %>
  <%= flight.arrival_airport.name %>
</p>
<p>
  <%= flight.taking_off.strftime("%A, %B %-d") %>
</p>
<p>
  <%= flight.taking_off_string %>
</p>