<%= form_with url: flights_url, method: :get do |form| %>
  <div>
    <%= form.label :departure_airport, 'From: ' %>
    <%= select_tag(:departure_airport, options_for_select(airport_options, search_params[:departure_airport])) %>
  </div>

  <div>
    <%= form.label :arrival_airport, 'To: ' %>
    <%= select_tag(:arrival_airport, options_for_select(airport_options, search_params[:arrival_airport])) %>
  </div>

  <div>
    <%= form.label :date, 'Date: ' %>
    <%= form.date_field :date, value: search_params[:date] %>
  </div>

  <div>
    <%= form.label :num_passengers, 'Passengers: ' %>
    <%= form.select :num_passengers, [*1..4], selected: search_params[:num_passengers] %>
  </div>

  <div>
    <%= form.submit 'Search' %>
  </div>
<% end %>

