<%= form_for @booking, url: bookings_url do |form| %>
  <p>
    <strong>Your Flight:</strong>
  </p>

  <%= render 'flights/flight', flight: flight %>

  <%= form.hidden_field :flight_id, value: flight.id %>
  <%= form.hidden_field :id, value: @booking.id %>

  <%= form.fields_for :passengers do |p_form| %>
    <div>
      <div>
        <%= "Passenger:" %>
      </div>

      <%= p_form.label :full_name %>
      <%= p_form.text_field :full_name %>

      <%= p_form.label :email %>
      <%= p_form.email_field :email %>
    </div>
  <% end %>

  <%= form.submit 'Create Booking' %>
<% end %>

